.para
{
    background-color: #b0aba0;
    font-size: 115%;
    padding: 2%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    border-radius: 2em;
    text-align: justify;
    border: 2px solid black;
}

.pp
{
    border-radius: 50%;
    border: 2px solid black;
    width: 15%;
    height: 10%;
    position: relative;
    margin-left: 40%;
    margin-top: 2%;     
}
