.tab
{
    background-color:black;
    border-color: black;
    border: solid black 1px;
    border-style: solid;
    border-radius: 2em;
    border-collapse: separate;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-size: 110%;
    font-weight: bold;
}

th
{
   text-align: center;
    padding: 1%;
    width: max-content;
    background-color:#1a1a1a;
    color: whitesmoke;
}

th:first-child
{
    border-top-left-radius: 2em;
}

th:last-child
{
    border-top-right-radius: 2em;
}
tr,td{
    text-align: center;
    padding: 1%;
    width: max-content;
    background-color: #b0aba0;
}

.bottomright
{
    border-bottom-right-radius: 2em;
}

.bottomleft
{
    border-bottom-left-radius: 2em;
}

